{% extends "base.html" %}

{% block page_title %}
Document Details
{% endblock %}

{% block content %}
<div class="card mt-4">
    <div class="card-header text-white" style="background-color:#c8102e;">
        <h3>Document Details</h3>
    </div>
    <div class="card-body" >
        <p><strong>Document ID:</strong> {{ doc['id'] }}</p>
        <p><strong>Date:</strong> {{ doc['date'] }}</p>
        <p><strong>Tweet:</strong> {{ doc['tweet'] }}</p>
        <p><strong>Likes:</strong> {{ doc['likes'] }}</p>
        <p><strong>Retweets:</strong> {{ doc['retweets'] }}</p>
        <p><strong>URL:</strong> 
            <a href="{{ doc['url'] }}" target="_blank">{{ doc['url'] }}</a>
        </p>
        <p><strong>Hashtags:</strong> {{ ', '.join(doc['hashtags']) }}</p>
    </div>
    <!-- <div class="card-footer text-center">
        <a href="#" class="btn btn-secondary" onclick="history.go(-2)">Go Back</a>
        <a href="/stats" class="btn btn-info">View Stats</a>
        <a href="/dashboard" class="btn btn-success">Go to Dashboard</a>
    </div> -->
</div>
{% endblock %}
